<footer class="footer container-fluid bg-dark text-white">
    <div class="row">
        <div class="col-lg-4 text-center pt-3 pb-3">
            <h5>INFO ADICIONAL</h5>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae officiis rerum illum, hic corrupti omnis?</p>
        </div>
        <div class="col-lg-4 text-center pt-3 pb-3">
            <h5>CONTÁCTANOS</h5>
            <hr>
            <p>
                <a href="#" style="color: white; text-decoration: none;"><img src="https://img.icons8.com/emoji/48/000000/telephone-receiver.png" style="width: 20px; height: auto;" /> Teléfono: 999 999 999</a>
            </p>
            <p>
                <a href="#" style="color: white; text-decoration: none;"><img src="https://img.icons8.com/officel/16/000000/send-mass-email.png" style="width: 20px; height: auto;" /> Email: email@email.com</a>
            </p>

        </div>

        <div class="col-lg-4 text-center pt-3 pb-3">
            <h5>REDES SOCIALES</h5>
            <hr>
            <div class="row" style="display: block;">
                <a href="#"><img src="https://img.icons8.com/bubbles/50/000000/github.png" /></a>
                <a href="#"><img src="https://img.icons8.com/bubbles/50/000000/instagram-new.png" /></a>
                <a href="#"><img src="https://img.icons8.com/bubbles/50/000000/linkedin.png" /></a>
            </div>

        </div>
    </div>
</footer>