<form class="m-5">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="cliente.nombre" name="nombre">
    </div>
    <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellido" [(ngModel)]="cliente.apellido" name="apellido">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" [(ngModel)]="cliente.email" name="email">
    </div>
    <button type="submit" class="btn btn-secondary" (click)="create()" *ngIf="!cliente.id else elseBlock">Crear Cliente</button>
    <ng-template #elseBlock>
        <button type="submit" class="btn btn-secondary" (click)="update()">Editar Cliente</button>
    </ng-template>

</form>